<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar p-3 sticky-top">
      <%= link_to lists_path do %>
        <i class="fa-solid fa-house btn btn-outline-primary"></i>
      <% end %>
      <%= link_to "New List", new_list_path, class: "btn btn-outline-primary hoverable" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
